@import './../../../styles.scss';

.footer {
    background-image: url(./../../../assets/images/footer-tile.png);
    background-repeat: repeat-x;
}

.footer-content {
    background-color: $base-dark-blue;
    height: 250px;
}