@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
$base-blue: #227AB3;
$base-dark-blue: #1d5691;
$base-orange: #E75614;
$info-blue: #d1ecfd;
$body-bg-grey: #dddada;
$solid-white: #fff;
$black: #444444;

*,
html {
    border-radius: 0 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

body {
    min-height: 100vh;
    background-color: $body-bg-grey !important;
}

.container {
    max-width: 1340px !important;
}

.page-container {
    background-color: $solid-white;
    padding: 15px 15px 1px 15px;
}

.position-relative {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.container-fluid {
    background-color: $solid-white !important;
}