<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="poster-message p-3 my-4">
                Welcome Shabna Nazeer! congratulations on taking an important step towards becoming a U.S.
                citizen! This is your Citizenship Selfie home page. you can navigate through the website by clicking on any of the start now button below.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="flip-card-box">
                <div class="flip-card">
                    <div class="front px-3">
                        <img src="https://user.citizenshipselfie.com/citizenshipSelfie/resources/images/citizenship1.png" 
                            class="flip-card-image"/>
                        <h3 class="flip-card-front-text my-3">My Citizenship Form</h3>
                    </div>
                    <div class="back px-3">
                        <h3 class="py-2">My Citizenship Form</h3>
                        <p class="pb-4">Our Easy-to-Use Software Will Help You Complete Your Citizenship Application Form!</p>
                        <a href="#" class="btn btn-success btn-lg">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card-box">
                <div class="flip-card">
                    <div class="front px-3">
                        <img src="https://user.citizenshipselfie.com/citizenshipSelfie/resources/images/video1.png"
                            class="flip-card-image" />
                        <h3 class="flip-card-front-text my-3">Introductory Videos</h3>
                    </div>
                    <div class="back px-3">
                        <h3 class="py-2">Introductory Videos</h3>
                        <p class="pb-4">If You're Unfamiliar with the Application Process, We Recommend You Start Here!</p>
                        <a href="#"
                        class="btn btn-success btn-lg">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card-box">
                <div class="flip-card">
                    <div class="front px-3">
                        <img src="https://user.citizenshipselfie.com/citizenshipSelfie/resources/images/study.png"
                             class="flip-card-image" />
                        <h3 class="flip-card-front-text my-3">Study Materials</h3>
                    </div>
                    <div class="back px-3">
                        <h3 class="py-2">Study Materials</h3>
                        <p class="pb-4">
                            Click here to find all of the material you need to prepare for your citizenship exam, including sample questions with
                            answers, flash cards, and practice tests for the reading, writing, and civics portions of the citizenship exam.</p>
                        <a href="#"
                           class="btn btn-success btn-lg">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card-box">
                <div class="flip-card">
                    <div class="front px-3">
                        <img src="https://user.citizenshipselfie.com/citizenshipSelfie/resources/images/self.png"
                             class="flip-card-image" />
                        <h3 class="flip-card-front-text my-3">Citizenship Selfie Manual</h3>
                    </div>
                    <div class="back px-3">
                        <h3 class="py-2">Citizenship Selfie Manual</h3>
                        <p class="pb-4">Our Manual Will Guide You Through All Of Citizenship Selfie's Features, and Ensure You Get the Most Out of this Site!</p>
                        <a href="#"
                           class="btn btn-success btn-lg">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4 mt-2">
            <div class="info-message p-3 my-4">
                Do you want to know what happens inside the interview room? Click our videos to find out everything you need to know.
            </div>
        </div>
    </div>
</div>
