@import './../../styles.scss';

.poster-message {
    width: 100%;
    height: auto;
    border: 1px solid $base-dark-blue;
    background: $base-dark-blue;
    color: $solid-white;
    text-transform: capitalize;
}

.info-message {
    width: 100%;
    height: auto;
    border-left: 5px solid $base-dark-blue;
    background: $solid-white;
    color: $base-dark-blue;
    text-transform: capitalize;
}

/*Flip cards*/
.flip-card-box {
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.flip-card-box:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card {
    background: $solid-white;
    cursor: default;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.flip-card .front,
.flip-card .back {
    backface-visibility: hidden;
    color: $solid-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.flip-card .flip-card-front-text {
    color: $black;
}

.flip-card .back {
    transform: rotateY(180deg);
}

.flip-card .back a {
    color: $solid-white;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

.flip-card-box .flip-card .back {
    background: $base-dark-blue;
}

.flip-card-box .flip-card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.flip-card-image {
    width: 150px;
    height: 150px;
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}